.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
