.list {
  margin-top: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 390px;
  border: 1px solid #000;
  border-radius: 8px;
}
